<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head th:replace="fragments/header :: header(~{::title},~{::link},~{::script})">
    <title>Event - Details</title>
    <link href="../static/css/style.css"
          th:href="@{~/css/style.css}" rel="stylesheet">

    <script src="../static/js/custom.js"
            th:src="@{~/js/custom.js}" defer></script>
</head>
<body>
<div class="row justify-content-center" layout:fragment="content">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-4">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Event details</h1>
                                <hr class="mb-4">
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title" th:text="*{event.name}">name
                                    <small class="text-muted"></small>
                                </h1>
                                <dl class="row">
                                    <dt class="col-sm-5">Start date</dt>
                                    <dd class="col-sm-7" th:text="*{#temporals.format(event.start,'dd.mm.yyyy HH:mm')}">01.01.2019.</dd>

                                    <dt class="col-sm-5">End date</dt>
                                    <dd class="col-sm-7" th:text="*{#temporals.format(event.end,'dd.mm.yyyy HH:mm')}">01.01.2019.</dd>

                                    <dt class="col-sm-5">Free Entry</dt>
                                    <dd class="col-sm-7" th:text="*{event.freeEntry}">Yes/No</dd>
                                </dl>
                            </div>
                            <hr class="mb-4">
                            <a th:href="@{'~/event/edit/' + ${event.id}}" class="btn btn-outline-primary w-100">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>