<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head th:replace="fragments/header :: header(~{::title},~{::link},~{::script})">
    <title>Event - New</title>
    <link href="../static/css/style.css"
          th:href="@{~/css/style.css}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{~/webjars/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.css}" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
            th:src="@{~/webjars/momentjs/2.24.0/min/moment-with-locales.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"
            th:src="@{~/webjars/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.js}"></script>

    <script src="../static/js/custom.js"
            th:src="@{~/js/custom.js}" defer></script>
</head>
<body>
<div class="row justify-content-center" layout:fragment="content">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-4">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">New event</h1>
                                <hr class="mb-4">
                            </div>

                            <form class="needs-validation" method="post" th:object="${event}" novalidate>
                                <input type="hidden" name="id" th:field="*{id}" th:value="*{id}" />
                                <div class="mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" th:errorclass="form-field-error" id="name" placeholder="" th:field="*{name}"
                                           required>
                                    <span class="text-danger" th:if="${#fields.hasErrors('name')}"
                                          th:errors="*{name}">Name error</span>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="startDate">Start Date</label>
                                        <input type="text" class="form-control datetimepicker-input" th:errorclass="form-field-error" id="startDate"
                                               th:field="*{start}" data-toggle="datetimepicker" data-target="#startDate" required>
                                        <span class="text-danger" th:if="${#fields.hasErrors('start')}"
                                              th:errors="*{start}">Start date error</span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="endDate">End Date</label>
                                        <input type="text" class="form-control datetimepicker-input" th:errorclass="form-field-error" id="endDate"
                                               th:field="*{end}" data-toggle="datetimepicker" data-target="#endDate" required>
                                        <span class="text-danger" th:if="${#fields.hasErrors('end')}"
                                              th:errors="*{end}">End date error</span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="city">City</label>
                                    <select class="custom-select d-block w-100" id="city" th:field="*{city.id}"
                                            required>
                                        <option th:each="city : ${cities}"
                                                th:value="${city.id}"
                                                th:text="${city.name}">
                                        </option>
                                    </select>
                                    <span class="text-danger" th:if="${#fields.hasErrors('city')}"
                                          th:errors="*{city}">City selection error</span>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="freeEntry" th:field="*{freeEntry}" th:value="'DA'" >
                                    <label class="custom-control-label" for="freeEntry">Slobodan ulaz?</label>
                                </div>
                                <hr class="mb-4">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

                                <button class="btn btn-primary btn-lg btn-block" type="submit">Save event
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>