<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head th:replace="fragments/header :: header(~{::title},~{::link},~{::script})">
    <title>Event - New</title>
    <link href="../static/css/style.css"
          th:href="@{~/css/style.css}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{~/webjars/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.css}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.8/dist/css/bootstrap-select.min.css"
          th:src="@{~/webjars/bootstrap-select/1.13.8/css/bootstrap-select.min.css}" rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.8/dist/js/bootstrap-select.min.js"
            th:src="@{~/webjars/bootstrap-select/1.13.8/js/bootstrap-select.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
            th:src="@{~/webjars/momentjs/2.24.0/min/moment-with-locales.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"
            th:src="@{~/webjars/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.js}"></script>

    <script src="../static/js/custom.js"
            th:src="@{~/js/custom.js}" defer></script>
</head>
<body>
<div class="row justify-content-center" layout:fragment="content">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-4">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Search event</h1>
                                <hr class="mb-4">
                            </div>

                            <form id="searchForm" class="needs-validation" th:action="@{~/event/search}" method="post"
                                  th:object="${command}" novalidate>
                                <div id="name-div" class="mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder=""
                                           th:field="*{name}"
                                           required>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                                         th:errors="*{name}">
                                        Valid name is required.
                                    </div>
                                </div>

                                <div id="start-date-div" class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="fromStartDate">From Start Date</label>
                                        <input type="text" class="form-control datetimepicker-input" id="fromStartDate"
                                               placeholder="" value=""
                                               th:field="*{fromStartDate}" data-toggle="datetimepicker"
                                               data-target="#fromStartDate" required>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('fromStartDate')}"
                                             th:errors="*{fromStartDate}">
                                            Valid event start date is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="toStartDate">To Start Date</label>
                                        <input type="text" class="form-control datetimepicker-input" id="toStartDate"
                                               placeholder="" value=""
                                               th:field="*{toStartDate}" data-toggle="datetimepicker"
                                               data-target="#toStartDate" required>
                                        <div class="invalid-feedback">
                                            Valid event end date is required.
                                        </div>
                                    </div>
                                </div>

                                <div id="end-date-div" class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="fromEndDate">From End Date</label>
                                        <input type="text" class="form-control datetimepicker-input" id="fromEndDate"
                                               placeholder="" value=""
                                               th:field="*{fromEndDate}" data-toggle="datetimepicker"
                                               data-target="#fromEndDate" required>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('fromEndDate')}"
                                             th:errors="*{fromEndDate}">
                                            Valid event start date is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="toEndDate">To End Date</label>
                                        <input type="text" class="form-control datetimepicker-input" id="toEndDate"
                                               placeholder="" value=""
                                               th:field="*{toEndDate}" data-toggle="datetimepicker"
                                               data-target="#toEndDate" required>
                                        <div class="invalid-feedback">
                                            Valid event end date is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div id="free-entry-div" class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="freeEntry"
                                               th:value="'DA'" th:field="*{freeEntry}">
                                        <label class="custom-control-label" for="freeEntry">Free entry?</label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="region">Region</label>
                                    <select class="d-block w-100 selectpicker" id="region" th:field="*{selectedOrg}"
                                            required multiple>
                                        <option th:each="region : ${regions}"
                                                th:value="${region.id}"
                                                th:text="${region.name}">
                                        </option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="county">County</label>
                                    <select class="d-block w-100 selectpicker" id="county" th:field="*{selectedSubOrg}"
                                            required multiple>
                                        <option th:each="county : ${counties}"
                                                th:value="${county.id}"
                                                th:text="${county.name}">
                                        </option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="citySize">City size</label>
                                    <select class="d-block w-100 selectpicker" id="citySize"
                                            th:field="*{selectedCityTypes}"
                                            required multiple>
                                        <option th:each="cityType : ${cityTypes}"
                                                th:value="${cityType.id}"
                                                th:text="${cityType.name}">
                                        </option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="city">City</label>
                                    <select class="d-block w-100 selectpicker" id="city" th:field="*{selectedCities}"
                                            required multiple>
                                        <option th:each="city : ${cities}"
                                                th:value="${city.id}"
                                                th:text="${city.name}">
                                        </option>
                                    </select>
                                </div>

                                <hr class="mb-4">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input id="reset-button" type="reset" class="btn btn-secondary"
                                               value="Reset form">
                                        <input type="submit" class="btn btn-primary" value="Search events">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>