<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>

<nav class="site-header py-1" th:fragment="navbar">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-block d-md-inline-block mx-auto" href="#">Tour</a>
        <a class="py-2 d-block d-md-inline-block mx-auto" href="#">Product</a>
        <a class="py-2 d-none d-md-inline-block mx-auto" href="#">Features</a>
    </div>
</nav>

</body>
</html>