<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>

<nav class="site-header py-1" th:fragment="navbar">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-block d-md-inline-block mx-auto" th:href="@{'~/event'}">Event list</a>
        <a class="py-2 d-block d-md-inline-block mx-auto" th:href="@{'~/event/search'}">Event search</a>
        <a sec:authorize="isAnonymous()" class="py-2 d-none d-md-inline-block mx-auto" th:href="@{'~/login'}">Login</a>

        <div class="nav-item dropdown py-2 d-block d-md-inline-block mx-auto" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" th:text ="'Hello, ' + ${#authentication.name}">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
                <a class="dropdown-item" th:href="@{'~/event/new'}">New event</a>
                <a class="dropdown-item" th:href="@{'~/logout'}">Logout</a>
            </div>
        </div>

    </div>
</nav>

</body>
</html>